* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15%;
    

}

body {
    background-color: rgb(222, 236, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto-central {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.texto-central h2 {
    font-size: 50px;
}

.tarjeta {

    background-color: white !important;
    width: 240px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}

.tarjeta-central {

    background-color: white !important;
    width: 240px;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}


li {
    list-style: none;
}

.cajonTarjetas {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;

}