* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15%;


}

body {
    background-color: rgb(222, 236, 25);
    display: flex;
    justify-content: center;
    align-items: center;

}

.texto-central {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.texto-central h2 {
    font-size: 50px;
}

.tarjeta {

    background-color: white !important;
    width: 340px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}

.tarjeta-central {

    background-color: white !important;
    width: 340px;
    height: 550px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;

}

.contenido-central {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


li {
    list-style: none;
}

.cajonTarjetas {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;

}

.emoji {
    font-size: 50px;
}

.popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 20px;
    background-color: rgb(198, 178, 124);
    color: rgb(0, 0, 0);
    padding: 18px;

}

h3 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: sandybrown;
}

.precio {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: rgb(42, 150, 180);
    font-weight: bold;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

li {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
    text-justify: auto;
}